.Menu{
    padding: 50px 0;
}
.Menu .contint{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}
@media (max-width: 768px) {
    .Menu .contint{
        flex-wrap: wrap;
    }
}