.Special{
    text-align: center;
    background: rgba(16, 20, 24, 0.7);
    padding: 40px 0 30px;
    height: 725px;
}
.Special .contint{
    margin: 40px 0 0 ;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media (min-width: 1200px){
.Special .container{
    width: 1350px;
}
}
@media (max-width: 992px) {
    .Special{
        height: auto;
        text-align: center;
    }
    .Special .contint{
        flex-wrap: wrap;
        justify-content:center;
    }
}