.Statistics{
    height: 192px;
    background: rgba(16, 20, 24, 0.7);
    display: flex;
    align-items: center;
}
.Statistics .containt{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
